.socialMedia__link {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    &__img {
        width: 5em;
        margin: 1em 5em 1em 5em;
    }
    &__name {
        color: black;
    }
}

.socialMedia__link__img:hover {
    filter: grayscale(100%);
    transition: 0.5s;
}
