<nav class="menu">
    <a routerLink="/info" [ngClass]="{'link--active': selectedRoute === 'info'}"><img class="menu__img" src="../../../assets/images/samcrow.jpg" alt="logo samcrow"></a>
    <ul class="menu__header">
        <li><a class="menu__header__access" routerLink="/info" [ngClass]="{'link--active': selectedRoute === 'info'}"> Samcro </a></li>
        <li><a class="menu__header__access" routerLink="/list" [ngClass]="{'link--active': selectedRoute === 'list'}"> Characters </a></li>
        <li><a class="menu__header__access" routerLink="/form" [ngClass]="{'link--active': selectedRoute === 'form'}"> Contacto </a></li>
    </ul>
</nav>
