.portada{
  margin-top: 2em;
}
.portada {
    &__img {
        width: 100%;
        justify-content: center;
        margin-top: 2em;
        margin: 1em auto;
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(192, 176, 149, 0.843);
    margin: 1em auto;
    padding: 1em;
    max-width: 95%;
    margin-bottom: 2em;
    &__title {
        font-size: 3em;
        font-family: 'Xanh Mono', monospace;
    }
    &__text {
        font-size: 0.8em;
        font-family: 'Xanh Mono', monospace;
        line-height: 1.5;
    }
}
