.title {
    display: flex;
    justify-content: center;
    font-style: bold;
    font-size: 5em;
    margin: 1em 0em;
    color: rgb(254, 254, 254);
    font-family: 'Xanh Mono', monospace
}

.filter {
    display: flex;
    justify-content: space-between;
    &__name {
        max-width: 33%;
        margin: 0 0 10px 10px;
        &__title {
            font-size: 25px;
            color: white;
            font-family: 'Xanh Mono', monospace;
        }
        &__box {
            width: 500px;
            height: 50px;
            font-size: 40px;
        }
        &__button {
            position: absolute;
            width: 9em;
            height: 3em;
            background-color: black;
            color: white;
            font-size: larger;
            border: 1px black solid;
            cursor: pointer;
            border-radius: 10%;
            font-family: 'Xanh Mono', monospace;
        }
    }
    &__faction {
        max-width: 33%;
        margin: 0 10px 10px 0;
        &__title {
            font-size: 25px;
            color: white;
            font-family: 'Xanh Mono', monospace;
        }
        &__box {
            width: 500px;
            height: 50px;
            font-size: 40px;
        }
    }
}

.character-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
}

.counter {
    display: flex;
    justify-content: center;
    max-width: 100%;
    background-color: rgb(7, 7, 7);
    font-size: 3em;
    color: white;
    font-family: 'Xanh Mono', monospace;
}

.page {
    &__title {
        color: white;
        font-size: 2em;
        font-family: 'Xanh Mono', monospace;
    }
    &__box {
        font-size: 2em;
        height: 2.1em;
        text-align: center;
        font-family: 'Xanh Mono', monospace;
    }
}