<div class="portada">
    <img class="portada__img" src="../../../assets/images/grupo.png" alt="">
</div>
<div class="info">
    <h1>{{message}}</h1>
    <h2 class="info__title">Sons of anarchy (Samcro)</h2>
    <p class="info__text">
        'Sons of Anarchy', traducida a veces en español como 'Hijos de la anarquía', es una serie dramática estadounidense creada por Kurt Sutter para el canal FX. La serie se emitió originalmentre entre septiembre de 2008 y diciembre de 2014, y cuenta con un
        total de 92 episodios distribuidos a lo largo de 7 temporadas. La serie narra la historia de una banda de motoristas llamada Sons of Anarchy Motorcycle Club, Redwood Original. La banda consta de sus propias normas así como código moral. Para subsistir,
        no tienen ningún problema en acometer actos criminales como la venta de droga, robo, violencia y mercado ilegal de armas, entre otras. Poco a poco su actividad criminal dará lugar a que dejen de ser una simple banda de moteros para convertirse
        en una hermandad llena de secretos y violencia. La sede original de Sons of Anarchy se encuentra en Charming, que es donde se desarrolla la historia, aunque la banda sufrirá tal expansión que se encontrará con sedes en diferentes puntos del mundo.
        El protagonista de la ficción es Jackson 'Jax' Teller (interpretado por Charlie Hunnam), que es el hijo de uno de los fundadores de la banda fallecido. Jackson, tras la muerte de su padre, es adoptado por el otro cofundador de Sons of Anarchy
        y él se convierte en el vicepresidente. El reparto de 'Sons of Anarchy' se completa con Katey Sagal, que da vida a Gemma Teller-Morrow, el principal personaje femenino de la serie, una experta en planificación maquiavélica y manipulación psicológica,
        es la mujer de Clay Morrow; Mark Boone Junior es Bobby Munson, el tesorero del club y más tarde vicepresidente, inteligente y frío, no tiene medio a utilizar la violencia cuando considera necesario; Kim Koates es Tig Traeger, vicepresidente del
        club a partir de la temporada 7, muy leal a Clay Morrow, pero suele abusar de la violencia; y Tommy Flanagan es Chibs Telford, el sucesor de Jax Teller en la presidencia del club, ex miembro del IRA norirlandés. La serie está ambientada en el
        Valle Central de California del Norte, aunque se rodó íntegramente en un estudio de Hollywood, con algunos exteriores grabados en las cercanías en la propia California. Las audiencias de la serie fueron de menos a más, y su séptima temporada logró
        una audiencia récord de 6,20 millones espectadores de media en FX. 'Sons of Anarchy' ha recibido múltiples nominaciones a premios, y ganado, entre otros, un Globo de Oro para Katey Sagal como mejor actriz de drama.
    </p>
</div>
