/* You can add global styles to this file, and also import other style files */

@import "./0-base/base.scss";
@import "./1-pages/pages.scss";
@import "./3-utils/utils.scss";
@import "./2-elements/elements.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/images/258897.jpg);
    background-size: 100%;
    background-position-x: 100%;
}
