<div class="buttons">
    <button class="button">
  <div
    class="character"
    (click)="onDark()"
    *ngIf="character"
    [ngClass]="{ onDark: character.isActive }"
  >
    <img
      class="character__img"
      [src]="character.image"
      [ngClass]="{opacity: character.isActive }"
    />
    <h3
    class="character__alias"
  >
<!-- Ejemplo de pipe donde alias se muestra al usuario en mayusculas ( | uppercase) -->
    {{ character.alias | uppercase }}
  </h3>
    <h4
      class="character__faction"
    >
      {{ character.faction }}
    </h4>
    <p class="character__text"></p>
</div>
</button>
    <button class="filter__name__button" [routerLink]="['/detail', character]">Conócele</button>
</div>