.title {
    display: flex;
    justify-content: center;
    font-style: bold;
    font-size: 5em;
    margin: 1em 0em;
    color: rgb(254, 254, 254);
    font-family: 'Xanh Mono', monospace
}

.character-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
}

.counter {
    display: flex;
    justify-content: center;
    max-width: 100%;
    background-color: rgb(7, 7, 7);
    font-size: 3em;
    color: white;
    font-family: 'Xanh Mono', monospace;
}